@import url('https://fonts.googleapis.com/css2?family=Langar&family=Luxurious+Script&display=swap');

.ConnecttooTitle {
    font-family: 'Luxurious Script', Static;
    color: white;
    font-size: 2.4rem;

}