.Input {
    border-radius: 15px;
    background: hsl(0, 1%, 54%);
    height: 2rem;
    margin: 0.5rem;
    color: rgb(37, 37, 37);
    font-size: medium;
    padding: 0.5rem;

}

.Input::placeholder {
    color: rgb(37, 37, 37);
    font-size: medium;
    padding: 0.5rem;
}