@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


.CreatePostFormHeading {
    color: white;
    font-family: "Langar", system-ui;

}

.CreateCancelButtons {
    display: flex;
    justify-content: center;
}