.Post {
    position: relative;
    width: 40vh;
    height: auto;
    background-color: aliceblue;
    margin: 0.8rem;
    border-radius: 4%;
    top: 3vh;
    font-family: "Langar", system-ui;
}

.PostImage {
    width: 95%;
    overflow: hidden;
    height: 20vh;
    object-fit: cover;
}

.AuthorTitle {
    font-size: 4vh;
    display: flex;
    margin-left: 4vh;
    margin-top: 0vh;
    margin-bottom: 0vh;

}

.CityAgePost {
    display: flex;
    justify-content: space-between;
    padding: 0 4vh;
    padding-right: 9vh;

}

.PostDescription {
    display: flex;
    padding: 0 4vh;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.PostOffer {
    display: flex;
    padding: 0 4vh;
    margin-top: -1.5vh;
}

.FromLocationPost,
.ToLocationPost,
.PostDate {
    display: flex;
    padding: 0 4vh;
    padding-right: 9vh;
}